.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0px;
}

.information h2 {
  margin-bottom: 35px;
}

.information-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 900px;
  margin: auto;
  gap: 35px;
  flex-wrap: wrap;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.info-card p {
  text-align: center;
  font-size: 14px;
  max-width: 150px;
  margin: 0;
  margin-top: 10px;
  color: #6b7280;
  line-height: 1.3;
}

.info-box {
  border: 2px solid #3882f6;
  border-radius: 12px;
  height: 130px;
  width: 130px;
}
