body {
  margin: 0;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    "Segoe UI",
    Arial,
    sans-serif;
}

.header {
  background: #1f2937;
}

.nav {
  margin: 0 auto;
  padding: 16px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin: 0px;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.links {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
