.quote-container {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 100px 16px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: 0;
  width: 100%;
}

.quote blockquote {
  margin: 0;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3;
}

.quote figcaption {
  margin-top: 15px;
  font-weight: bold;
  align-self: flex-end;
}
